
/*Importing nunito font family*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

/* Styling resets and new defaults*/
* {
    margin: 0;
    padding: 0;
    color: var(--true-white);
    transform-box: border-box;
    text-decoration: none;
}

html {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    text-shadow: 0.1rem 0.1rem var(--shadow);
}

p {
    min-width: 45ch;
    max-width: 85ch;
    margin: 1rem auto;
}

ul {
    list-style: square inside;
}

/* Setting default heading style*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0.5rem 0 0.3rem 0;
    line-height: 1.6rem;
    letter-spacing: 0.06em;
}

/*General stylings and variables*/
:root {
    --true-black:  hsl(0, 0%, 0%);
    --near-black: hsl(0, 0%, 10%);
    --charcoal: hsl(0, 0%, 15%);
    --darker-gray: hsl(0, 0%, 25%);
    --dark-gray: hsl(0, 0%, 35%);
    --mid-gray: hsl(0, 0%, 50%);
    --light-gray: hsl(0, 0%, 60%);
    --near-white: hsl(0, 0%, 90%);
    --true-white: hsl(0, 0%, 100%);  
    --shadow: hsla(0, 0%, 0%, 0.2);
    --shadow-light: hsla(0, 0%, 0%, 0.05);
    --dyn-position: -6.175%;
    --translate-1: -6.175%;
    --translate-2: -31.175%;
    --translate-3: -56.175%;
    --translate-4: -81.175%;
    --dyn-timing: 800ms;
    --translate-800: 800ms;
    --translate-1300: 1300ms;
    --translate-1800: 1800ms;
}

body {
    --nav-hover: var(--true-black);
    --text-color: var(--true-white);
    --accent: var(--near-black);
    --box-bg-color-1: var(--charcoal);
    --box-bg-color-2: var(--darker-gray);
    --box-bg-color-3: var(--dark-gray);
    --box-shadow: var(--shadow);
    --box-shadow-up: var(--shadow-light);
    --border-radius: 0.3rem;
    --slider-translate: var(--dyn-position);
    --nav-time: var(--dyn-timing);
    background-color: var(--text-color);
}

/* Scrollbar stylings*/
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--box-shadow);
}

::-webkit-scrollbar-thumb {
    background: var(--nav-hover);;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}



/*NAV BAR Stylings*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    }
    nav a {
        padding: 0 0.6rem;
        background-color: var(--accent);
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1);
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1;
        letter-spacing: 0.08rem;
        text-align: center;
        text-decoration: none;
        user-select: none;
        }
        nav a:hover {
            background-color: var(--nav-hover);
            }
        nav a:active {
            background-color: var(--accent);
}


/*Sets styling for the main content sections and structures the page*/
.content-container {
    position: relative;
    top: 3.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 47ch;
    width: 100%;
    height: calc(100vh - 4rem);
    }
    .slider {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        transform: translateX(var(--slider-translate));
        min-width: 800%;
        transition: transform var(--nav-time) cubic-bezier(.38,1,.69,1.05);
        }
        .box {
            flex: 0 0 10%;
            min-width: 45ch;
            max-width: 100ch;
            padding: 2rem;
            background-color: var(--box-bg-color-1);
            box-shadow: 0.5rem 0.5rem 0.1rem 0.2rem var(--box-shadow);
            }
            .box-insert {
                background-color: var(--box-bg-color-2);
                padding: 0.7rem;
                margin: 1rem auto;
                max-width: calc(100% - 2rem);
                border-radius: var(--border-radius);
                box-shadow: 0.3rem 0.3rem 0.1rem 0.2rem var(--box-shadow);
                }
                .box-insert p {
                    min-width: calc(45ch - 1.5rem)
                }
                .box-in-insert {
                    padding: 0.35rem;
                    border-radius: var(--border-radius);
                    background-color: var(--box-bg-color-3);
                    box-shadow: 0.2rem 0.2rem 0.1rem 0.2rem var(--box-shadow);
}



/*Profile Styling*/
.skill-div {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
    .skill-div ul {
        margin: 1rem 0.5rem;
        flex: 1 1 18rem;
        list-style: none;
        transition: transform 800ms, box-shadow 800ms;
    }
        .skill-div ul:hover {
            transform: translate(-0.25rem, -0.25rem);
            box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem var(--box-shadow);
        }
        .skill-div ul li {
            margin: 0.2rem 0;
            padding: 0.3rem;
            background-color: var(--box-bg-color-3);
            transition: 200ms;
            }
            .skill-div ul li:hover {
                transform: scale(1.03);
}



/*Projects Styling*/
.project {
    height: auto;
    transition: transform 200ms, box-shadow 200ms, height 1000ms;
    overflow: hidden;
    }
    .project h2 {
        height: 1.4rem;
        width: 100%;
        margin: 0;
        margin-bottom: 0.7rem;
        padding: 0.7rem 0;
        border-radius: var(--border-radius);
        font-size: 1.4rem;
        text-align: center;
        transition: 600ms;
        cursor: pointer;
        user-select: none;
        }
        .project h2:hover {
            background-color: var(--box-bg-color-3);
    }
    .project a {
        display: block;
        border-radius: var(--border-radius);
        padding: 1rem;
        transition: 400ms;
        font-weight: bold;
        text-align: center;
        }
        .project a:hover {
            background-color: var(--box-bg-color-3);
}

.project.closed {
    height: 2.8rem;
    }
    .project.closed:active {
        transform: translate(0.2rem, 0.2rem);
        box-shadow: none;
}

/* Ziplod project styling*/
.ziplod-img {
    display: block;
    margin: 0 auto;
    width: 50%;
    transition: 600ms;
    }
    .ziplod-img:hover {
        transform: scale(1.1);
        box-shadow: 1rem 1rem 0.3rem 0.3rem var(--box-shadow-up);
        z-index: 2;
}

/* Instagram project stylings*/
.figures-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
    }
    .figures-flex figure {
        margin: 2rem 0.5rem;
        max-width: 400px;
        flex: 1 1 300px;
        transition: all 600ms;
        z-index: 1;
        text-align: center;
        }
        .figures-flex figure img {
            max-width: 100%;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }
        .figures-flex figure figcaption {
            padding: 0.2rem;
        }
        .figures-flex figure:hover {
            transform: scale(1.1);
            box-shadow: 1rem 1rem 0.3rem 0.3rem var(--box-shadow-up);
            z-index: 2;
}

#insta-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition: all 600ms;
    }
    #insta-link img {
        margin-right: 0.3rem;
        height: 4.5rem;
        border: 0.2rem solid var(--box-bg-color-2);
        border-radius: 25%;
        transition: 800ms, transform 2000ms cubic-bezier(0.3, 1.1, 0.5, 1);
    }
        #insta-link:hover img {
            transform: rotate(720deg);
            border-radius: 50%;
            border-color: var(--nav-hover);
    }
    #insta-link label {
        display: inline-block;
        height: 4.9rem;
        border-left: 0.2rem solid var(--accent);
        padding-left: 0.5rem;
        text-align: left;
        line-height: 1.2;
        cursor: pointer;
    }
    #insta-link:active {
        box-shadow: none;
        transform: translate(0.2rem, 0.2rem);
}



/*Contact Details styling*/
/* Contact Form */
form {
    display: none; /*flex*/
    flex-direction: column;
    align-items: flex-start;
    }
    form input {
        margin: 0.5rem 1rem;
        min-width: 20ch;
        padding: 0.2rem;
        border: 0.2rem solid var(--box-bg-color-3); 
        border-radius: 0.25rem;
        color: black;
        background-color: var(--near-white);
        text-shadow: none;
    }
    form textarea {
        margin: 0.5rem 1rem;
        min-width: 20ch;
        max-width: calc(100% - 3rem);
        border: 0.2rem solid var(--box-bg-color-3); 
        border-radius: var(--border-radius);
        padding: 0.2rem;
        color: black;
        background-color: var(--near-white);
        text-shadow: none;
        align-self: stretch;
    }
    form .splitter {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-between;
        }
        form .splitter * {
            margin: 0.5rem 1rem;
            flex: 1 0 20ch;
        }
        form .splitter input[type="submit"] {
            flex: 1 1 100%;
            transition: 0.4s ease;
            cursor: pointer;
        }
            form .splitter input[type="submit"]:hover {
                color: var(--text-color);
                background-color: var(--accent);
}
    

/*Contact Details Styling*/
.holder-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;}
    .contact-details {
        min-width: min-content;
    }
    .socials {
        flex: 1 0;
        min-width: 8.2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-wrap: wrap; }
        .socials a img {
            max-width: 3rem;
            margin: 0.125rem 0.25rem;
            box-shadow: 0 0 0.3rem 0.3rem var(--box-shadow);
            border-radius: 51%;
            border: 0.4rem solid var(--accent);
            transition: all 1s, transform 2s cubic-bezier(0, 2, 0.5, 1);}
            .socials a img:hover {
                transform: rotate(1080deg) scale(0.95);
                border-color: var(--nav-hover);
                box-shadow: none;
}

@media screen and (max-width: 740px) {
    .socials {
        margin-top: 1rem;
    }
}