* {
    color: hsla(0, 0%, 100%, 1);
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 2.5em;
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXQ3I6Li01BKofIMN5MZ9vKUT8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA-seUYevI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUYevI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-image: url("./resources/background-img.png");
    background-position: start;
    background-size: 100% 800px;
    background-repeat: no-repeat;
    background-color:hsla(0, 0%, 0%, 1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}

nav a {
    padding: 0 10px;
    background-color: hsl(0, 0%, 10%);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1),
                box-shadow 100ms linear;
}

nav a h1 {
    font-weight: 200;
    line-height: 1em;
}

nav a:hover {
    background-color: hsl(0,0%,0%);
}

nav a:active {
    box-shadow: 0 0 2px 4px hsla(0, 0%, 10%, 1) inset;
}

main {
    margin-top: 90px;
}

.back-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px 30px;
    max-width: 80%;
    min-width: 400px;
    background-color: hsla(0, 0%, 0%, 0.8);
    overflow: hidden;
    transform: translateY(-250%);
    transform-box: border-box;
    transition: transform 1s ease;
}

.back-box:target {
    transform: translateY(0);
}

.back-box ul li {
    margin-left: 1.5em;
}

#skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.skill-div{
    padding: 0 0.5em;
    min-width: 100px;
}

.contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.figures {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.figures figure {
    flex: 3 1 300px;
    text-align: center;
}

#insta-link {
    flex: 1 1 75px;

}

#insta-link a img {
    max-height: 75px;
    max-width: 75px;
}

.holder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holder {
    margin: 0 20px;
    padding: 0;
    min-width: 162px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.socials a img {
    height: 50px;
    width: 50px;
    margin: 10px 10px;
}